
<head>
    <link rel="stylesheet" href="css/index.css">           
</head>
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center login-title"><b>Cadastre-se</b></h1>
        <div class="account-wall">                
            <form  class="form-signin" name="formulario">
                <div class="form-group">
                    <input type="text" ng-model="usuario.nome" name="nome" class="form-control" placeholder="Nome" required ng-maxlength="30" >
                </div>

                <div class="form-group">
                    <input type="text" ng-model="usuario.email" id="email" name="email" class="form-control" placeholder="Email" required>
                </div>

                <div class="form-group">
                    <input type="password" ng-model="usuario.senha" name="senha" senha-focus class="form-control" placeholder="Senha" ng-mimlength="3" required>
                </div>

                <div class="form-group"></div>
                    <input type="password" ng-model="usuario.confirmaSenha" name="confirmaSenha" class="form-control" placeholder="Confirme a senha" required>
                </div>

                <button class="btn btn-lg btn-primary btn-block" ng-click="vm.cadastrarUsuario(usuario)" >Cadastrar</button>  
                <a class="btn btn-lg btn-primary btn-block" href="../../" >Voltar</a>  
                                
            </form>
            <div class="form-group"></div>
                <p ng-show="mensagem.length" class="alert alert-danger">{{mensagem}}</p>
            </div>
        </div>
    </div>
</div>
